@use "./partials/base/reset";
@use "./partials/base/tipografia";

@use "./partials/components/buttons";
@use "./partials/components/cards";
@use "./partials/components/header";
@use "./partials/components/general";