//base
@use "./partials/base/tipografia";
@use "./partials/base/reset";

//components
@use "./partials/components/header";
@use "./partials/components/cards";
@use "./partials/components/buttons";
@use "./partials/components/general";


