@use "../utilities/mixins";

.card-remera{
    width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
}

.card-short{
    width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
}

.card-remera-suplente{
    width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
}

.card-remera-arquero{
   width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
}

.venta-indumentaria{
    // display: flex;
    // justify-content: space-around;
    @include mixins.flex(row, space-around, center )
}