@use "../utilities/variables";


h1{
    color: rgb(1, 102, 1);
    font-size: 80px;
    font-family: "Merriweather", serif;
    margin: 16px 0px 0px 550px;
    
}

.p-titulo{
    font-size: 36px;
}

h3{
    font-size: 56px;
    padding: 16px 8px;
    border: 3px solid black;
    display: inline-block;
    margin: 16px;
    
}

h4{
    font-size: 50px;
}

h5{
    font-size: 56px;
    color: rgb(41, 66, 2);

}
h6{
    font-size: 36px;
    color: green;
    border: 2px solid greenyellow;
    padding: 4px;
    margin: 8px;
    display: inline-block;
    
}
h2{
    border: 2px solid rgb(2, 7, 2);
    padding: 8px;
    display: inline-block;
    margin: 200px 700px 0px 700px;
    font-size: 44px;
    background-color: green
}


.partidos-recientes{
    font-size: 24px;  } 

.ganador-reducido{
 color: gold;
 font-size: 56px; 
 border: none; 
 animation-name: efecto-campeon;
 animation-iteration-count: infinite;
 animation-timing-function: ease-in;
 animation-duration: 2s;
 animation-delay: 1.2s; 
}

.p-actualidad{
        margin: 8px 4px;
        padding: 16px;
    }
.h4-actualidad{
        margin: 100px 0px 0px 4px;    }

.ul-principal{
    font-size: 32px; }

.p-deportes{
    margin: 44px 0px;
    font-size: 32px;
}


.Ubicacion{
    font-size: 32px;
}

.ubicacion-tienda{
     margin: 50px 0px;
 }

@keyframes efecto-campeon{
  0% {width: 100px;}
  25% {width: 150px;}
  50% {width: 200px; background-color: green;}
  75% {width: 250px;}
  100% {width: 290px; background-color: rgb(164, 221, 9);}
}
main{
    background-color: rgb(218, 218, 218);
}

.p-jugadores{
    margin: 0px 1050px 0px 0px;
}