@use "../utilities/variables";


.logo-ig{
    height: 50px;
}

.logo-face{
    height: 30px;
}

.logo-tktk{
    height: 40px;
}

.logo-x{
    height: 30px;
}

.logo-youtube{
    height: 20px;
}

.imagen-historia{
    margin: 100px 0px 0px 200px;
}


.img-main{
    margin: 50px 0px 50px 200px;
}

.plantel-2021{
    height: 700px;
    margin: 20px 0px 0px 350px;
}

.imagen-equipo{
    height: 700px;
    margin: 0px 0px 20px 300px;
}

.estadio{
    height: 500px;
}

.final{
    height: 800px;
    margin: 0px 0px 75px 300px;
}