@use "../utilities/variables";


.logo-ig{
    height: 50px;
}

.logo-face{
    height: 30px;
}

.logo-tktk{
    height: 40px;
}

.logo-x{
    height: 30px;
}

.logo-youtube{
    height: 20px;
}

.imagen-historia{
    margin: 100px 0px 0px 200px;
        width: 75vw;
    max-width: 1000px;
    min-width: 270px;
    margin: auto;
}


.img-main{
    margin: 50px 0px 50px 200px;
    width: 75vw;
    max-width: 1000px;
    min-width: 270px;
    margin: auto;
    
}

.plantel-2021{
    height: 700px;
    margin: 20px 0px 0px 350px;
        width: 75vw;
    max-width: 1000px;
    min-width: 270px;
    margin: auto;
}

.imagen-equipo{
    height: 700px;
    margin: 0px 0px 20px 300px;
        width: 75vw;
    max-width: 1000px;
    min-width: 270px;
    margin: auto;
}

.estadio{
    height: 500px;
        width: 75vw;
    max-width: 1000px;
    min-width: 270px;
    margin: auto;
}

.final{
    height: 800px;
    margin: 0px 0px 75px 300px;
    width: 75vw;
    max-width: 1000px;
    min-width: 270px;
    margin: auto;
}

.img-plantel{
        width: 75vw;
    max-width: 1000px;
    min-width: 270px;
    margin: auto;
}

.img-sede{
        width: 75vw;
    max-width: 1000px;
    min-width: 270px;
    margin: auto;
}