@use "../utilities/variables";


.logo-ig{
    height: 50px;
}

.logo-face{
    height: 30px;
}

.logo-tktk{
    height: 40px;
}

.imagen-historia{
    margin: 100px 0px 0px 200px;
}

.campeon-2025{
    height: 500px;
   margin: 0px 0px 120px 670px;
    border-radius: 32px;
}

.img-main{
    margin: 50px 0px 50px 200px;
}

.plantel-2021{
    height: 700px;
    margin: 20px 0px 0px 350px;
}

.imagen-equipo{
    height: 700px;
    margin: 0px 0px 20px 300px;
}