@use "../utilities/variables";


.logo-ig{
    height: 50px;
}

.logo-face{
    height: 30px;
}

.logo-tktk{
    height: 40px;
}

.imagen-historia{
    margin: 100px 0px 0px 200px;
}

.campeon-2025{
    height: 500px;
   margin: 0px 0px 120px 670px;
    border-radius: 32px;
}