/* Fuente Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* font-family: "Merriweather", serif; */


h1{
    color: green;
    font-size: 56px;
    font-family: "Merriweather", serif;

    /* margin-top: 10px;
    margin-right: 12px;
    margin-bottom: 14px;
    margin-left: 16px; */

    margin: 16px 8px;

    padding: 16px;

    
}

p{
    font-size: 24px;
}

.footer-p{
    font-size: 12px;
    font-weight: 600;
}

h3{
    font-size: 56px;
    padding: 16px 8px;
    border: 3px solid black;
    display: inline-block;
    margin: 16px;
    
}

h4{
    font-size: 36px;
}

h5{
    font-size: 24px;
    color: greenyellow;
}

h6{
    font-size: 36px;
    color: green;
    border: 2px solid greenyellow;
    padding: 4px;
    margin: 8px;
    
}

*{margin: 0;
padding: 0;
}

.bg-nav-propio{
    background-color: green;
}

.navbar-logo{
    width: 50px;
}

.card-remera{
    width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
}

.card-short{
    width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
}

.card-remera-suplente{
    width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
    
}

.venta-indumentaria{
display: flex;
justify-content: space-around;
 
}


.btn-primary:hover{
    color: purple;
}

.sponsor-1{
   width: 200px;
   height: 100px; 
}

.sponsor-2{
    height: 100px;
}

.sponsor-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2{
    border: 2px solid rgb(2, 7, 2);
    padding: 8px;
    display: inline-block;
    margin: 200px 700px 0px 700px;
    font-size: 44px;
    background-color: green
}

footer{
    margin: 300px 0px 0px 0px;
}

.campeon-2025{
    height: 500px;
   margin: 0px 300px 100px 650px;}

.partidos-recientes{
    font-size: 24px;  } 
    
    
    
.ganador-reducido{
 color: gold;
 font-size: 56px; 
border: none;  }

 .imagen-historia{
margin: 100px 0px 0px 200px;
    }