/* Fuente Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* font-family: "Merriweather", serif; */


h1{
    color: green;
    font-size: 56px;
    font-family: "Merriweather", serif;

    /* margin-top: 10px;
    margin-right: 12px;
    margin-bottom: 14px;
    margin-left: 16px; */

    margin: 16px 8px;

    border: 3px solid green;
}

p{
    font-size: 24px;
}

.footer-p{
    font-size: 12px;
    font-weight: 600;
}

h3{
    font-size: 56px;
    padding: 16px 8px;
    border: 3px solid black;
    
}

h4{
    font-size: 36px;
}

h5{
    font-size: 24px;
    color: greenyellow;
}

h6{
    font-size: 36px;
    color: green;
}

*{margin: 0;
padding: 0;
}