/* Fuente Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* font-family: "Merriweather", serif; */


h1{
    color: green;
    font-size: 56px;
    font-family: "Merriweather", serif;

    /* margin-top: 10px;
    margin-right: 12px;
    margin-bottom: 14px;
    margin-left: 16px; */

    margin: 16px 8px;

    padding: 16px;

    
}

p{
    font-size: 24px;
}

.footer-p{
    font-size: 12px;
    font-weight: 600;
}

h3{
    font-size: 56px;
    padding: 16px 8px;
    border: 3px solid black;
    
}

h4{
    font-size: 36px;
}

h5{
    font-size: 24px;
    color: greenyellow;
}

h6{
    font-size: 36px;
    color: green;
    border: 2px solid greenyellow;
    padding: 4px;
    margin: 8px;
    
}

*{margin: 0;
padding: 0;
}

.bg-nav-propio{
    background-color: green;
}

.navbar-logo{
    width: 50px;
}

.card-remera{
    width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
}

.card-short{
    width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
}

.card-remera-suplente{
    width: 18rem;
    border: 2px solid black;
    border-radius: 8px;
    
}

.venta-indumentaria{
display: flex;
justify-content: space-around;
 
}


.btn-primary:hover{
    color: purple;
}

